install/license.xml
install/Sitecore 9.0.1 rev. 171219 (OnPrem)_single.scwdp.zip
install/Sitecore 9.0.1 rev. 171219 (OnPrem)_xp0xconnect.scwdp.zip
install/sitecore-solr.json
install/sitecore-XP0.json
install/xconnect-createcert.json
install/xconnect-solr.json
install/xconnect-xp0.json
install/desktop.ini
